root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.jsx]
indent_size = 2

[*.js]
indent_size = 2

[*.tsx]
indent_size = 2

[*.ts]
indent_size = 2

[*.json]
indent_size = 2

[*.css]
indent_size = 2

[*.php]
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[docker-compose.yml]
indent_size = 4
