.auth {
    background-image: url('../images/background.png');
    background-position: center center;
    background-size: cover;
    height: 100vh;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 575px) {
        &:not(.auth-flow) {
            height: calc(100vh - 64px);
        }
    }

    .auth-card {
        background-color: #fff;
        box-shadow: $box-shadow-lg;
        padding: 0 1rem 1rem;
        margin-top: .5rem;
        width: 320px;
        max-width: 100%;
        border-radius: $border-radius;

        @supports (backdrop-filter: blur(15px) saturate(125%)) {
            background-color: rgba(#fff, .8);
            backdrop-filter: blur(15px) saturate(125%);
        }

        &.auth-card-lg {
            width: 440px;
            max-width: 100%;
        }
    }

    .btn-link {
        &.text-white {
            &:hover,
            &:focus {
                background-color: rgba($dark, .2);
            }
        }
    }
}