.btn {
    &.btn-link {
        color: var(--text);
        text-decoration: none;

        &:hover,
        &:focus {
            background-color: var(--card-bg-hover);
        }
    }

    &.btn-transparent {
        color: var(--text);

        &:hover,
        &:focus {
            background-color: var(--btn-transparent-bg-hover);
        }
    }

    &.btn-profile {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
