.btn {
    color: var(--text);
    
    &.btn-link {
        text-decoration: none;

        &:hover,
        &:focus {
            background-color: var(--card-bg-hover);
        }
    }

    &.btn-primary,
    &.btn-danger {
        color: #fff !important;
    }

    &.btn-link {
        color: $primary !important;
    }
}