.card {
    background-color: var(--card-bg);
    box-shadow: $box-shadow-sm;
    border: none;
    transition: $transition-base;
    
    .card-header {
        padding: .75rem 1rem;
        border: none;
    }

    &.card-add {
        border: 4px dashed var(--card-add-border);
        background: transparent;
        box-shadow: none;
        height: 100%;

        text-decoration: none;
        color: var(--text);

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &:hover {
            background: var(--card-add-bg-hover);
            border-color: var(--card-add-border-hover);
        }
    }
}