.form-control,
.form-select {
    background-color: var(--main-bg);
    border-color: var(--main-border-color);
    color: var(--text);

    &:focus {
        background-color: var(--main-bg);
        border-color: $primary;
        color: var(--text);
    }

    &:disabled {
        background-color: var(--form-disabled-bg);
    }

    &.changelog-control {
        height: calc(100vh - 57px - 48px - 16px - 16px - 16px);
        border-color: transparent;
        background: none;
    }
}

.form-check {
    min-height: auto;

    .form-check-input {
        background-color: var(--checkbox-bg);

        &:checked {
            background-color: $primary;
        }
    
        &:disabled {
            background-color: var(--checkbox-disabled-bg);
        }
    }

    &.form-switch {
        .form-check-input {
            margin-left: 0;
            width: 2.5rem;
            float: initial;
            height: 1.25rem;
        }
        .form-check-input:not(:checked) {
            background-image: var(--switch-bg-image);
        }
    }
}