.nav {
    &.nav-lined {
        .nav-link {
            position: relative;
            padding-left: 0;
            padding-right: 0;
            border: none;
            background: transparent;

            &:not(:last-child) {
                margin-right: 1.5rem;
            }

            &.active {
                &::after {
                    position: absolute;
                    background-color: $primary;
                    left: 0;
                    bottom: 0;
                    height: 2px;
                    width: 100%;
                    content: '';
                }
            }
        }
    }
}