.navbar {
    .navbar-brand {
        margin-right: 1.5rem;
        font-weight: 500;
        font-family: $headings-font-family;
        color: var(--text);

        &:hover,
        &:focus {
            color: var(--text);
        }
    }
    
    .nav-item {
        &:not(:last-child) {
            margin-right: 1.5rem;
        }

        .nav-link {
            position: relative;
            padding-left: 0;
            padding-right: 0;
            color: var(--text);

            &:hover,
            &:focus {
                color: var(--text-hover);
            }

            &.active {
                color: var(--text);

                svg {
                    color: $primary !important;
                }
                
                &::after {
                    position: absolute;
                    background-color: $primary;
                    left: 0;
                    bottom: 0;
                    height: 2px;
                    width: 100%;
                    content: '';
                }
            }
        }
    }
}