.nav {
    &.nav-lined {
        .nav-link {
            position: relative;
            padding-left: 0;
            padding-right: 0;
            border: none;
            background: transparent;
            color: var(--text);

            &:not(:last-child) {
                margin-right: 1.5rem;
            }

            &.active {
                svg {
                    color: $primary;
                }
                
                &::after {
                    position: absolute;
                    background-color: $primary;
                    left: 0;
                    bottom: 0;
                    height: 2px;
                    width: 100%;
                    content: '';
                }
            }
        }
    }
}

.pagination {
    .page-item {
        &.disabled {
            .page-link {
                background: transparent;
            }
        }
    }

    .page-link {
        background: transparent;
        border-color: var(--nav-border-color) !important;

        &:hover {
            background: var(--pagination-bg-hover);
            border-color: var(--main-border-color);
        }
    }
}