.progress {
    height: .75rem;
    background-color: var(--progress-bg);
    border-radius: 1rem;

    .progress-bar {
        border-radius: 1rem;
    }
}

.progress-group {
    & > :not(:first-child) {
        margin-left: .5rem;
    }
}

.progress-title {
    white-space: nowrap;
    color: var(--text);
    margin-bottom: .25rem;
    font-weight: 600;
    
    @media (min-width: 768px) {
        text-align: center;
    }
}

.progress-date {
    white-space: nowrap;
    color: $text-muted;
    margin: 0;
}

.progress-block {
    &:not(:last-child) {
        .progress-date:last-child {
            display: none;
        }
    }
}

.legend-stage {
    margin: 0;
    font-size: .9rem;
    font-weight: 600;
    color: var(--text);
    text-align: right;
}

.legend-dates {
    margin: 0;
    font-size: .9rem;
    color: $text-muted;
}

.legend-bar {
    width: 3px;
    border-radius: 2px;
    height: 1.125rem;
    margin: .125rem .5rem;

    &.legend-bar-primary {
        background-color: $primary;
    }

    &.legend-bar-success {
        background-color: $success;
    }

    &.legend-bar-warning {
        background-color: $warning;
    }

    &.legend-bar-danger {
        background-color: $danger;
    }
}