.progress {
    height: .75rem;
    background-color: #fff;
    border-radius: 1rem;

    .progress-bar {
        border-radius: 1rem;
    }
}

.progress-group {
    @media (min-width: 768px) {
        & > :not(:first-child) {
            margin-left: .5rem;
        }
    }
}

.progress-title {
    white-space: nowrap;
    color: $text-muted;
    margin-bottom: .25rem;
    
    @media (max-width: 767px) {
        font-weight: 600;
        color: var(--text);
    }
    
    @media (min-width: 768px) {
        text-align: center;
    }
}

.progress-date {
    white-space: nowrap;
    color: $text-muted;
    margin: 0;
}

.progress-block {
    &:not(:last-child) {
        .progress-date:last-child {
            @media (min-width: 768px) {
                display: none;
            }
        }
    }
}