.grid {
    display: grid;
    grid-template-columns: 260px auto;
    grid-template-rows: auto;
    grid-template-areas: 'sidebar content';
    height: 100vh;
    width: 100vw;

    overflow-x: hidden;
    position: relative;

    @media (max-width: 991px) {
        grid-template-columns: 56px auto;
    }

    @media (max-width: 575px) {
        grid-template-columns: auto;
        grid-template-rows: auto 58px;
        grid-template-areas: 'content' 'sidebar';
    }

    .grid-sidebar {
        grid-area: sidebar;
        background-color: var(--nav-bg);
        justify-content: stretch;
        overflow: auto;
        z-index: 5;
        
        @media (max-width: 575px) {
            background-color: var(--nav-mobile-bg);
            z-index: 7;
            box-shadow: $box-shadow;
        }

        .navbar {
            background-color: var(--nav-bg);
            border-bottom: var(--nav-border-color) 1px solid;
            z-index: 5;

            @supports (backdrop-filter: blur(15px) saturate(125%)) {
                background-color: var(--nav-bg-acrylic);
                backdrop-filter: blur(10px) saturate(120%);
            }
            
            @media (max-width: 575px) {
                display: none;
            }
            
            @media (max-width: 991px) {
                .brand-label {
                    display: none;
                }
            }
        }

        .sidebar {
            display: flex;
            flex-direction: column;

            padding: .5rem .75rem;
            height: calc(100% - 57px);
            
            @media (max-width: 991px) {
                padding: .5rem;
            }

            @media (max-width: 575px) {
                flex-direction: row;
                padding: 0;
            }

            .border-bottom {
                border-color: var(--nav-border-color) !important;
            }

            .sidebar-item {
                display: flex;
                align-items: center;
                position: relative;

                transition: $transition-base;

                padding: .5rem;
                border-radius: $border-radius;
                background-color: transparent;
                border: none;
                width: 100%;
                height: 40px;

                text-decoration: none;
                color: var(--text);

                @media (max-width: 991px) {
                    justify-content: center;
                }

                @media (max-width: 575px) {
                    background-color: transparent;
                    border-radius: 0;
                    padding: 0;
                    margin: 0;
                    height: 58px;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    text-align: center;
                }

                &.sidebar-item-sm {
                    @media (min-width: 992px) {
                        width: 40px;
                        justify-content: center;

                        .sidebar-label {
                            display: none;
                        }

                        svg {
                            margin-right: 0;
                        }
                    }
                }

                svg {
                    margin-right: .5rem;

                    @media (max-width: 991px) {
                        margin-right: 0;
                    }
                }

                .sidebar-label {
                    @media (max-width: 991px) {
                        display: none;
                    }

                    @media (max-width: 575px) {
                        display: block;
                        font-size: 80%;
                        font-weight: 500;
                        color: var(--nav-color-label);
                        margin: .25rem auto 0;
                        max-width: 65px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        line-height: 1;
                    }
                }

                &.active {
                    svg {
                        color: $primary;
                    }

                    @media (min-width: 576px) {
                        &::after {
                            position: absolute;
                            background-color: $primary;
                            left: 0;
                            top: 25%;
                            height: 50%;
                            width: 2px;
                            content: '';
                        }
                    }
                }

                &:hover {
                    background-color: var(--nav-item-hover);
                    color: var(--text);

                    @media (max-width: 575px) {
                        background-color: var(--nav-bar-item-hover);
                    }
                }
            }
        }
    }

    .grid-content {
        grid-area: content;
        box-shadow: $box-shadow;
        background-color: var(--main-bg);
        z-index: 6;
        overflow: auto;

        .navbar {
            background-color: var(--main-bg);
            border-bottom: var(--main-border-color) 1px solid;
            z-index: 6;

            @supports (backdrop-filter: blur(15px) saturate(125%)) {
                background-color: var(--main-bg-acrylic);
                backdrop-filter: blur(10px) saturate(120%);
            }
        }
    }
}