.text-mobile {
    color: $mobile !important;
}

.text-iso {
    color: $iso !important;
}

.text-iot {
    color: $iot !important;
}

.text-holographic {
    color: $holographic !important;
}

.text-pc {
    color: $pc !important;
}

.text-tenx {
    color: $tenx !important;
}

.text-xbox {
    color: $xbox !important;
}

.text-team {
    color: $team !important;
}

.text-server {
    color: $server !important;
}

.text-sdk {
    color: $sdk !important;
}

.text-azure {
    color: $azure !important;
}

.text-vnext, .text-leak {
    color: $leak !important;
}

.text-skip {
    color: $skip !important;
}

.text-dev {
    color: $dev !important;
}

.text-beta {
    color: $beta !important;
}

.text-preview {
    color: $preview !important;
}

.text-release {
    color: $release !important;
}

.text-public {
    color: $public !important;
}

.text-broad {
    color: $broad !important;
}

.text-ltsc {
    color: $ltsc !important;
}

.bg-mobile {
    background-color: $mobile !important;
}

.bg-iso {
    background-color: $iso !important;
}

.bg-iot {
    background-color: $iot !important;
}

.bg-holographic {
    background-color: $holographic !important;
}

.bg-pc {
    background-color: $pc !important;
}

.bg-tenx {
    background-color: $tenx !important;
}

.bg-xbox {
    background-color: $xbox !important;
}

.bg-team {
    background-color: $team !important;
}

.bg-server {
    background-color: $server !important;
}

.bg-sdk {
    background-color: $sdk !important;
}

.bg-azure {
    background-color: $azure !important;
}

.bg-vnext, .bg-leak {
    background-color: $leak !important;
}

.bg-skip {
    background-color: $skip !important;
}

.bg-dev {
    background-color: $dev !important;
}

.bg-beta {
    background-color: $beta !important;
}

.bg-preview {
    background-color: $preview !important;
}

.bg-release {
    background-color: $release !important;
}

.bg-public {
    background-color: $public !important;
}

.bg-broad {
    background-color: $broad !important;
}

.bg-ltsc {
    background-color: $ltsc !important;
}