@import 'variable';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'alert';
@import 'button';
@import 'card';
@import 'nav';
@import 'navbar';
@import 'progress';
@import 'dropdown';
@import 'ui';
@import 'utilities';

@import 'auth';

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-icon {
    background: $primary;
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 5px;
}

// Scrollbar
* {
    @media (min-width: 576px) {
        scrollbar-color: darken($light, 20);

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            margin-bottom: 0;
            margin-top: 0;
        }

        &::-webkit-scrollbar-thumb {
            background-color: darken($light, 20);
            border-radius: 10px;
        }

        scrollbar-width: thin;
    }
}

// Forms
.form-text {
    &:last-child {
        margin-bottom: 0;
    }
}

// Timeline items
.timeline {
    a.flight {
        text-decoration: none;
        color: inherit;
        
        &:hover {
            background-color: darken($light, 8);
        }
    }

    .flight {
        display: flex;
        min-height: 40px;
        align-items: center;
        transition: $transition-base;

        &:nth-child(even) {
            background-color: darken($light, 5);
        }

        .flight-icon {
            width: 40px;
            text-align: center;
        }

        .flight-build {
            margin-right: .5rem;
            min-width: 150px;
        }

        .flight-channels {
            flex: 1;
            margin-right: .5rem;
            padding: 0 0 .25rem 0;
        }

        .flight-version {
            margin-right: .5rem;
            font-size: 90%
        }
    }

    a.promotion {
        text-decoration: none;
        color: inherit;
    }

    .promotion {
        display: flex;
        height: 40px;
        align-items: center;
        transition: $transition-base;

        &:nth-child(even) {
            background-color: darken($light, 5);
        }

        &:hover {
            background-color: darken($light, 8);
        }

        .promotion-icon {
            width: 40px;
            text-align: center;
        }

        .promotion-version {
            margin-right: .5rem;
            min-width: 100px;
        }

        .promotion-channels {
            flex: 1;
            margin-right: .5rem;
        }
    }

    a.release {
        text-decoration: none;
        color: inherit;
    }

    .release {
        display: flex;
        height: 40px;
        align-items: center;
        transition: $transition-base;

        &:nth-child(even) {
            background-color: darken($light, 5);
        }

        &:hover {
            background-color: darken($light, 8);
        }

        .release-icon {
            width: 40px;
            text-align: center;
        }

        .release-version {
            margin-right: .5rem;
            min-width: 100px;
        }

        .release-channels {
            flex: 1;
            margin-right: .5rem;
        }
    }
}

// Cards
a.card {
    text-decoration: none;
    color: inherit;
    
    &:hover {
        background-color: darken($light, 3);
    }
}

.card {
    .card-footer {
        background: transparent;
        border-top: 1px solid darken($light, 6);
        padding: .5rem .75rem;
    }
    
    &.channel {
        min-width: 150px;
        background-color: $light;
        border: none;
        box-shadow: $box-shadow-sm;
        padding: .5rem .75rem;

        &.channel-disabled {
            filter: grayscale(1);
        }
    
        .channel-name {
            margin-top: -.125rem;
            margin-bottom: -.375rem;
            font-weight: 600;
        }
    
        .channel-build {
            margin-bottom: .5rem;
            font-weight: 700;
            font-size: 1.25rem;
        }
    
        .channel-date {
            color: $text-muted;
            font-size: .875rem;
        }
    }

    &.release {
        background-color: $light;
        border: none;
        box-shadow: $box-shadow-sm;
        padding: .5rem .75rem;
        height: 100%;

        h3 {
            margin-bottom: 0;
        }

        .release-channels {
            margin-top: .25rem;
        }

        .release-actions {
            border-top: 1px solid darken($light, 6);
            padding: .5rem .75rem;
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            margin: .75rem -.75rem -.5rem -.75rem;
        }
    }
}

// Changelogs
.changelog-content {
    h2 {
        @extend h5;
        font-weight: 600;
    }
    
    h3 {
        @extend h6;
        font-weight: 600;
    }
}

// Branding
.f-384 {
    font-family: "Century Gothic", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #222;

    &:hover {
        color: #444 !important;
    }
}

.studio-384 {
    background-image: linear-gradient(-45deg, #00b573 0%, #78b500 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}