@import "variable";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~@changewindows/amaranth/dist/amaranth.scss";

@import "alert";
@import "button";
@import "card";
@import "nav";
@import "navbar";
@import "progress";
@import "dropdown";
@import "ui";
@import "utilities";
@import "form";

@import "auth";

// Dark mode
@function light-dark($light, $dark) {
    @return var(--light, #{ $light }) var(--dark, #{ $dark });
}

:root {
    --ON: initial;
    --OFF: ;
    
    --text: #{ light-dark($body-color, $gray-100) };
    --text-inverse: #{ light-dark($gray-100, $body-color) };
    --text-hover: #{ light-dark(lighten($body-color, 20), darken($gray-100, 25)) };

    --nav-bg: #{ light-dark(darken($light, 6), darken($dark, 6)) };
    --nav-bg-acrylic: #{ light-dark(rgba(darken($light, 6), .75), rgba(darken($dark, 6), .75)) };
    --nav-border-color: #{ light-dark(darken($light, 12), darken($dark, 9)) };
    --nav-mobile-bg: #{ light-dark($light, $dark) };
    --nav-color-label: #{ light-dark(lighten($body-color, 35), lighten($gray-100, 35)) };

    --nav-item-hover: #{ light-dark(darken($light, 10), darken($dark, 10)) };
    --nav-bar-item-hover: #{ light-dark(darken($light, 3), darken($dark, 3)) };

    --main-bg: #{ light-dark(darken($light, 2), darken($dark, 4)) };
    --main-bg-acrylic: #{ light-dark(rgba(darken($light, 2), .75), rgba(darken($dark, 4), .75)) };
    --main-border-color: #{ light-dark(darken($light, 8), darken($dark, 8)) };
    
    --pagination-bg-hover: #{ light-dark(darken($light, 5), darken($dark, 3)) };

    --timeline-bg-nth: #{ light-dark(darken($light, 6), $dark) };
    --timeline-bg-hover: #{ light-dark(darken($light, 8), lighten($dark, 4)) };

    --card-bg: #{ light-dark($light, $dark) };
    --card-bg-hover: #{ light-dark(darken($light, 3), lighten($dark, 4)) };

    --card-add-bg-hover: #{ light-dark(rgba(darken($light, 5), .5), rgba(darken($dark, 5), .5)) };
    --card-add-border: #{ light-dark(darken($light, 10), darken($dark, 7)) };
    --card-add-border-hover: #{ light-dark(darken($light, 13), darken($dark, 9)) };

    --auth-bg: #{ light-dark(darken($light, 5), darken($dark, 5)) };
    --card-auth-bg: #{ light-dark($light, $dark) };

    --dropdown-bg: #{ light-dark($light, lighten($dark, 3)) };
    --dropdown-bg-hover: #{ light-dark(darken($light, 3), darken($dark, 1)) };
    
    --form-disabled-bg: #{ light-dark($light, transparent) };
    --checkbox-bg: #{ light-dark(#fff, darken($dark, 6)) };
    --checkbox-disabled-bg: #{ light-dark(#eee, darken($dark, 2)) };
    --switch-bg-image: #{ light-dark(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 0.25%29'/%3e%3c/svg%3e")) };
    
    --btn-transparent-bg-hover: #{ light-dark(rgba($dark, .2), rgba($light, .1)) };

    --progress-bg: #{ light-dark(#fff, darken($dark, 8)) };

    --scroll-native: #{ light-dark(darken($light, 6), darken($dark, 6)) };
    --scroll-webkit: #{ light-dark(darken($light, 16), lighten($dark, 12)) };

    --alert-success-bg: #{ light-dark($green-100, $green-800) };
    --alert-success-color: #{ light-dark($green-700, $green-100) };

    --alert-warning-bg: #{ light-dark($yellow-100, $yellow-800) };
    --alert-warning-color: #{ light-dark($yellow-800, $yellow-100) };

    --alert-danger-bg: #{ light-dark($red-100, $red-800) };
    --alert-danger-color: #{ light-dark($red-700, $red-100) };

    --alert-info-bg: #{ light-dark($cyan-100, $cyan-800) };
    --alert-info-color: #{ light-dark($cyan-700, $cyan-100) };

    --display-light: #{ light-dark(block, none) };
    --display-dark: #{ light-dark(none, block) };
}

.theme-default,
.theme-light {
    --light: var(--ON);
    --dark: var(--OFF);
}

.theme-dark {
    --light: var(--OFF);
    --dark: var(--ON);
}

@media (prefers-color-scheme: dark) {
    .theme-default {
        --light: var(--OFF);
        --dark: var(--ON);
    }
}

body {
    color: var(--text);
}

.display-light {
    display: var(--display-light)
}

.display-dark {
    display: var(--display-dark)
}

// Core branding
.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-icon {
    color: $accent;
    width: 24px;
    height: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .1875rem .75rem .0625rem .365rem;

    @media (max-width: 991px) {
        margin: .1875rem .25rem .0625rem .25rem;
    }
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 5px;
}

// Scrollbar
* {
    scrollbar-color: var(--scroll-native);
    scrollbar-width: thin;

    @media (hover: hover) and (pointer: fine) {
        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            margin-bottom: 0;
            margin-top: 0;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--scroll-webkit);
            border-radius: 2px;
        }
    }
}

// Titels
.titlebar {
    & > h1 {
        min-height: 28px;
        margin-top: 6px;
        margin-bottom: 0;
        @include font-size($h4-font-size);

        &:last-child {
            margin-bottom: 6px;
        }
    }

    & > .d-flex {
        margin-top: 6px;
        margin-bottom: 0;
        
        h1 {
            min-height: 28px;
            @include font-size($h4-font-size);
    
            &:last-child {
                margin-bottom: 6px;
            }
        }
    }
}

// Forms
.form-text {
    &:last-child {
        margin-bottom: 0;
    }
}

// Timeline items
.titel {
    min-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.timeline {
    a.event {
        text-decoration: none;
        color: inherit;

        &:hover {
            background-color: var(--timeline-bg-hover);
        }
    }

    .event {
        display: flex;
        min-height: 40px;
        align-items: center;
        transition: $transition-base;
        border-radius: .25rem;

        &:not(:last-child) {
            margin-bottom: .25rem;
        }

        &:nth-child(odd) {
            background-color: var(--timeline-bg-nth);
        }

        .icon {
            width: 40px;
            text-align: center;
            flex-shrink: 0;
        }

        .revision {
            margin-right: 0.5rem;
            min-width: 150px;
        }

        .message {
            flex: 1;
            margin-right: 0.5rem;
        }

        .tags {
            display: flex;
            flex: 1;
            flex-wrap: wrap;
            margin-right: 0.5rem;
            margin-bottom: .25rem;
            padding: 0;

            & > span {
              margin: .25rem 0 0 0;
            }
        }

        .version {
            margin-right: 0.5rem;
            font-size: 90%;
            text-align: right;
        }
    }
}

// Badge
.badge {
    color: var(--text-inverse);
}

// Cards
a.card {
    text-decoration: none;
    color: inherit;

    &:hover {
        background-color: var(--card-bg-hover);
    }
}

.card {
    .card-footer {
        background: transparent;
        border-top: 1px solid var(--main-border-color);
        padding: 0.5rem 0.75rem;
    }

    &.channel {
        min-width: 150px;
        background-color: var(--card-bg);
        border: none;
        box-shadow: $box-shadow-sm;
        padding: 0.5rem 0.75rem;
        height: 84px;
        display: flex;
        flex-direction: column;

        &.channel-disabled {
            .channel-name {
                filter: grayscale(1);
            }
        }

        .channel-name {
            margin-top: -0.125rem;
            margin-bottom: -0.375rem;
            font-weight: 600;
            font-size: 0.9375rem;
        }

        .channel-build {
            font-weight: 700;
            font-size: 1.125rem;
        }

        .channel-date {
            color: $text-muted;
            font-size: 0.875rem;
        }
    }

    &.release {
        background: var(--card-bg);
        border: none;
        box-shadow: $box-shadow-sm;
        padding: 0.75rem;
        height: 100%;

        h3 {
            margin-bottom: 0;
        }

        .release-channels {
            margin-top: 0.25rem;
        }

        .release-actions {
            border-top: 1px solid var(--nav-bg);
            padding: 0.5rem 0.75rem;
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            margin: 0.75rem -0.75rem -0.5rem -0.75rem;
        }
    }
}

// Changelogs
.changelog-content {
    h1 {
        font-size: 2.5rem;
        font-weight: 600;

        &:not(:first-child) {
            margin-top: 2rem;
        }
    }

    h2 {
        @extend h4;
        font-weight: 600;

        &:not(:first-child) {
            margin-top: 2rem;
        }
    }

    h3 {
        @extend h5;
        font-weight: 600;

        &:not(:first-child) {
            margin-top: 1rem;
        }
    }
}

// Branding
.f-384 {
    font-family: "Century Gothic", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: var(--text);
    text-decoration: none;

    &:hover {
        color: var(--text-hover) !important;
    }
}

.studio-384 {
    background-image: linear-gradient(-45deg, #00b573 0%, #78b500 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
