$fa-font-path: '../webfonts';

$enable-caret: false;
$box-shadow-sm: 0 0 .2px rgba(0,0,0,.014), 0 0 .5px rgba(0,0,0,.02), 0 0 1px rgba(0,0,0,.025), 0 0 1.8px rgba(0,0,0,.03), 0 0 3.3px rgba(0,0,0,.036), 0 0 8px rgba(0,0,0,.05);
$box-shadow: 0 0 .4px rgba(0,0,0,.02), 0 0 .9px rgba(0,0,0,.028), 0 0 1.8px rgba(0,0,0,.035), 0 0 3.1px rgba(0,0,0,.042), 0 0 5.8px rgba(0,0,0,.05), 0 0 14px rgba(0,0,0,.07);
$box-shadow-lg: 0 0 .7px rgba(0,0,0,.028), 0 0 1.7px rgba(0,0,0,.04), 0 0 3.3px rgba(0,0,0,.05), 0 0 5.8px rgba(0,0,0,.06), 0 0 10.9px rgba(0,0,0,.072), 0 0 26px rgba(0,0,0,.1);

@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-pro/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-pro/scss/regular.scss';
@import '~@fortawesome/fontawesome-pro/scss/brands.scss';