.nav {
    --bs-nav-link-color: #{lighten($text-muted, 16)};
    --bs-nav-link-padding-x: 0.5rem;
    --bs-nav-link-padding-y: 0.25rem;
    font-family: $headings-font-family;

    .nav-item {
        &:not(:last-child) {
            margin-right: 2px;
        }
    }

    .nav-link {
        font-size: 14px;
        border-radius: $border-radius;

        &.active {
            --bs-nav-link-font-weight: 500;
            --bs-nav-link-color: var(--item-color, #{$accent});
        }

        &:hover,
        &:focus {
            --bs-nav-link-hover-color: var(--item-color, #{$accent});
            background-color: darken($light, 3);
        }
    }

    &.platform-colored {
        .nav-link {
            &.active {
                --bs-nav-link-color: var(--platform-color, #{$accent});
            }

            &:hover,
            &:focus {
                --bs-nav-link-hover-color: var(--platform-color, #{$accent});
            }
        }
    }
}
